<h1>Login</h1>

<%= "Please input a valid email and password" if !@user %>

<form action="/sessions" method="POST">
  <p>
    <label for="user_email">Email: </label>
    <input type="string" name="email" id="user_email" />
  </p>

  <p> 
    <label for="user_password">Password: </label>
    <input type="password" name="password" id="user_password" />
  </p>

  <input type="submit" value="Login">
</form>

<a href="/signup">Sign up</a>