<h1>Login</h1>

<form action="/sessions" method="POST">
  <label for="user_email">Email: <input type="string" name="user[email]" id="user_email" /></label>
  <br><br>
  <label for="user_password">Password: <input type="password" name="user[password]" id="user_password" /></label>

  <br><br>

  <input type="submit" value="Login">
</form>