<h1>Login</h1>

<form action="/sessions" method="POST">
  Email: <input type="string" name="user[email]" >
  Password: <input type="password" name="user[password]" >

  <br>
  <br>

  <input type="submit" name="Login">
</form>