<h1>Sign Up</h1>

<p><%= "Please enter a valid name, email, and password" if @user && @user.errors.any? %></p>
<p><%= "Email already associated to an account. Try logging in." if @duplicate_email %></p>

<form action="/users" method="POST">
  <p>
    <label for="user_name">Name: </label>
    <input type="string" name="name" id="user_name" />
  </p>

  <p>
    <label for="user_email">Email: </label>
    <input type="string" name="email" id="user_email" />
  </p>

  <p>
    <label for="user_name">Password: </label>
    <input type="password" name="password" id="user_password" />
  </p>

  <input type="submit" value="Sign Up">
</form>

<a href="/login">Login</a>