<h1>Hi <%= @user.name %></h1>

<p>Email: <%= @user.email %></p>

<!-- Edit user name  email address -->
<a href="/users/<%= @user.id %>/edit"><input type="submit" value="Edit Profile"></a>

<!-- Delete user -->
