<h1>Add a new game</h1>

<form action="/games" method="POST">
  <p>
    <label for="game_name">Name: </label>
    <input type="string" name="name" />
  </p>

  <p>
    <label for="game_max_players">Maximum Players: </label>
    <input type="integer" name="max_player" />
  </p>

  <p>
    <label for="game_description">Description: </label>
    <input type="text" name="description"" />
  </p>

  <input type="submit" value="Submit New Game" />
</form>