<h1><%= @game.name %></h1>

<p><b>Description: </b><%= @game.description %></p>
<p><b>Maxmimum Number of Players: </b><%= @game.max_player %></p>

<br>

<!-- create form to edit post here -->

<form method="POST" action="/games/<%= @game.id %>">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Game" />
</form>

<a href="/games"><= Back to all games</a>