<h1><%= @game.name %></h1>

<!-- Display reviews of the game -->
<h2>Reviews</h2>
<% @game.reviews.each do |review|%>
  <p>
    From @<a href="/users/<%= review.user_id %>"><%= review.user.name %></a>, <%= review.message %>
  </p>
<% end %>

<a href="/games"><= Back to all games</a>