<h1>Edit your review for <%= @review.game.name %></h1>

<form method="POST" action="/reviews/<%= @review.id %>">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  Review: <input type="text" value="<%= @review.message %>" name="message">
  <br><br>
  <input type="submit" value="Submit Edit">
</form>

<a href="/games/<%= @review.game.id %>"><input type="button" value="Cancel"></a>

